<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <script src="static/jquery-3.2.0.min.js"></script>

    <title>TextStreaming</title>

</head>
<body onLoad="rndText()">

  <form name="myForm">
  <input type="text" name="myText" style="text-align:center">
  </form>

<p id="da">
%for token in t.tokenize(posttext):
{{token.surface}},
%end
</p>



<script type="text/javascript">

msg = new Array;
timerID = 10;
count = 0;
countf = 0;

function rndText()
{

  data = document.getElementById("da").innerHTML;
  console.log(data);

  msg = data.split(",");

  document.myForm.myText.value = msg[count++];
    clearTimeout(timerID);
    if (count < msg.length) timerID = setTimeout("rndText()",150);
}

</script>

</body>
</html>
